<!DOCTYPE html>
<html>
    <head>
        <title>Rates app</title>
        <script src="./standalone_env/jquery.min.js"></script>
        <script src="./standalone_env/jquery-ui.min.js"></script>
        <script src="./standalone_env/react.js"></script>
        <script src="./standalone_env/react-dom.js"></script>
        <script src="./standalone_env/react-bootstrap.min.js"></script>
        <script src="./standalone_env/init.js"></script>
        <link rel="stylesheet" href="./standalone_env/bootstrap.min.css">

        <script src="./libs.js"></script>
        <script src="./rates.js"></script>

    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
